#o1{
    background-color: orange;
    color: white;
}

.navend{
    padding-left: 200px ;
}

/* nav{
    padding:60px;
} */

.banner img{
    width: 100%;
}

#o2{
    background-color: orange;
    color: white;
    position: absolute;
    top: 650px;
    right: 1515px;
    
    
}

#ps{
    padding-left: 300px;
    padding-right: 300px; 
}

#content{
    background-color: rgb(214, 214, 214);
}

.row{
    text-align: center;
    align-items: center;
    padding-left:200px;
}

.card{
    margin: 20px;
}

.about{
    display: flex;
    padding-left: 300px;
    padding-right: 300px;
}

.about img{
    border-radius: 100%;
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#web1p{ 
    text-decoration: underline;
}

.about a{
    color: orange;
}

#foot{
    background-color: orange;
    color: white;
    padding: 50px;
}

#foot a{
    text-decoration: none;
    color: white;
}